@charset "utf-8";
/* CSS Document */
body, #header, #rsvp .site-content, #registry, #direction .site-content, #photo, #groomsmen .site-content, #bridesmaid {
	background-color:#dbebff;
}
#ourstory .site-content, #rsvp, #registry .site-content, #direction, #photo .site-content, #groomsmen, #bridesmaid .site-content, footer {
	background-color:#ebf4ff;
}
#Logo a {
	background:url(images/logo.png) center;
}
.theme-border-big {
	border:7px solid #96b2d7;
}
.theme-border-big:hover{
	border:7px solid #82a1c9;
}
.theme-border {
	border:5px solid #96b2d7;
}
.theme-border:hover{
	border:5px solid #82a1c9;
}
.page-title {
    background-color: #101315;
}
.page-title .parallax-cntr {
	background:url(images/tree.png) no-repeat fixed 100% -3px ;
}
.page-title .parallax {
	background:url(images/petals.png) repeat fixed 80% -3px;
}
/* =Home styles
-------------------------------------------------------------- */
.hr-grey {
	background:url(images/hr-gray.png) center no-repeat;
}
h1, h2, h3, h4, h5, h6, .clients a:hover {
	color: #535353;
}
.title-bg {
	background-image: url(images/heart-ico.png), url(images/heading-bg.png);
}
/* =mainmenu styles
-------------------------------------------------------------- */
nav.main-menu-container {
	background:url(images/menu-bg.jpg) repeat-x;
}
.mobile-menu { background-color:#b9d2f1; border-color:#7791b5; color:#5a5a5a; }

a, .main-menu-container ul li.current_page_item a, .main-menu-container ul li a:hover, #groomsmen figure span, #address ul li a:hover, .portfolio-container article h4 a:hover {
	color:#7699c9;
}
.page-bottom-bg {
	background:url(images/page-bottom-bg.png) center no-repeat;
}
/* =Footer styles
-------------------------------------------------------------- */
.social-media a{
	color:#7699c9;
}
/* =registry styles
-------------------------------------------------------------- */
.clients a {
    color: #7699c9;
}
/* =rsvp styles
-------------------------------------------------------------- */
.rsvp .custom-radio label {
	background:url(images/radio-btn.png) left bottom no-repeat;
}
.rsvp p span, #direction iframe, .ls-fullwidth{
	background:url(images/bg-border.jpg) repeat;
}
.rsvp p span input, .rsvp p span textarea, .rsvp p span select {
	background-color: #bfd4f1;
}
.rsvp p span select, .mobile-menu {
	background-image:url(images/arrow.png);
}
.rsvp p span input:hover, .rsvp p span textarea:hover, .rsvp p span select:hover, textarea:focus, .rsvp p span input:focus, .rsvp p span textarea:focus, .rsvp p span select:focus {
	background-color: #b1c8e8;
}
.rsvp p.submit-bg span {
	background:url(images/btn-bg-border.jpg) repeat;
}
.rsvp p.submit-bg span input {
	background-color:#7791b5;
	color:#ebf2fb;
}
.rsvp p.submit-bg span input:hover {
	background-color:#6c86ab;
}
/* =ourstory styles
-------------------------------------------------------------- */
.portfolio-container article figure {
	background:url(images/bg-border.jpg) repeat;
}
#ourstory .post-detail {
	background-color:#abc9f2;
}
#address ul li address.address:before, #address ul li address.iphone:before, #address ul li a.mail:before, .place li:before {
	color:#535353;
}
.ls-fullwidth .ls-playvideo, .ls-fullwidth .ls-nav-sides, .ls-fullwidth .ls-bottom-slidebuttons a, .ls-fullwidth .ls-nav-start, .ls-fullwidth .ls-nav-stop {
	background-image:url(images/skin.png);
}
.ls-fullwidth .ls-nav-prev, .ls-fullwidth .ls-nav-prev:hover, .ls-fullwidth .ls-nav-next, .ls-fullwidth .ls-nav-next:hover {
	background:url(images/ls_arrow.png) no-repeat;
}
.ls-fullwidth .ls-thumbnail-hover-bg {
	background:#7194c3;
}
.ls-fullwidth .ls-thumbnail-hover span {
	border: 5px solid #7194c3;
}

.timeline:before { background-color: #2C3840; }

.event.right .post-thumb, .event.left .post-thumb { background: url(images/post-thum-dotted-lines.png) repeat-x scroll center 110px rgba(0, 0, 0, 0); }


.timeline .post-detail h2, .page-link > a span { color: #FFFFFF; }

.right .post-thumb:before { border-color:transparent transparent transparent #2C3840; }
.left .post-thumb:after { border-color:transparent #2C3840 transparent transparent; }

/* =Client styles
-------------------------------------------------------------- */
.clients .client-one{
	background-image:url(images/client-1.png);
	background-repeat:no-repeat;
}
.clients .client-two{
	background-image:url(images/client-2.png);
	background-repeat:no-repeat;
}
.clients .client-three {
	background-image:url(images/client-3.png);
	background-repeat:no-repeat;
}
/* =groomsmen styles
-------------------------------------------------------------- */
#groomsmen figure, #bridesmaid figure{
	background-image: url(images/grooms-bg.png);
}
#groomsmen article h4 span, #bridesmaid article h4 span{
	color:#7699c9;
}
#groomsmen figure .thumb:hover, #bridesmaid figure .thumb:hover{
	background:#82a1c9;
}
#groomsmen figure .thumb, #bridesmaid figure .thumb{
	background-image:url(images/bg-border.jpg);
}
#bridesmaid figure .thumb .social, #groomsmen figure .thumb .social {
	background:url(images/social-bg.png) bottom no-repeat;
}
/* =photo styles
-------------------------------------------------------------- */
.category-filter li a.active {
	background-image: url(images/filter-active.png);
}
.category-filter li a.active, .category-filter li a:hover {
	color:#7699c9;
}
ul.category-filter li a {
	color:#4F4039;
}
.social .icon-facebook, .social .icon-twitter {
	background-color:#d3e1f4;
	color:#6e91c1;
}
@media only screen and (max-width:767px){
.category-filter li a.active {
	background-image:none;
}
}